/data
/.vscode
/__pycache__
/dist

/data_parser/__pycache__

src/**/data
src/**/__pycache__
src/**/models
src/**/samples
src/**/predictions
src/**/item_similarities
src/**/submissions
src/**/*.csv

/test/predictions